@import "../../../hesf/style/index.less";

:root {
    --page-bg-color   : #333;
    --content-bg-color: #333;
    --text-color      : #F4F7F9;

    --line-clolor: #F4F7F9;

    --primary-color: #5585FF;
}

@import "font.less";
@import "about-view.less";