.notification-list-item {
    border-radius: 16px;
    background   : #EBEFF3;
    box-shadow   : 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
    padding      : 20px;
    display      : flex;
    gap          : 20px;

    @media @phone {
        gap: 12px;
    }

    >.triggerer-profile-image {
        margin-top   : 1px;
        display      : flex;
        width        : 42px;
        height       : 42px;
        flex-shrink  : 0;
        border-radius: 42px;
        border       : 1px solid #FFF;
        background   : lightgray 50% / cover no-repeat;
    }
}