.nav-bar {
    width         : 90px;
    background    : #EBEFF3;
    box-shadow    : 4px 0px 8px 0px rgba(189, 194, 199, 0.75), 8px 0px 12px 0px rgba(189, 194, 199, 0.25);
    padding       : 21px;
    display       : flex;
    flex-direction: column;
    gap           : 50px;
    overflow-y    : auto;

    @media @phone {
        position       : fixed;
        bottom         : 0;
        flex-direction : row;
        width          : 100%;
        height         : calc(90px + env(safe-area-inset-bottom));
        padding-bottom : env(safe-area-inset-bottom);
        overflow       : hidden;
        justify-content: space-between;
        gap            : 0;
    }

    >h1 {
        width          : 48px;
        height         : 48px;
        flex-shrink    : 0;
        border-radius  : 50px;
        background     : #EBEFF3;
        box-shadow     : 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
        cursor         : pointer;
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-bottom  : 30px;

        @media @phone {
            display: none;
        }

        >img {
            width: 26px;
        }

        &:active {
            box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
        }
    }

    >button {
        width                      : 48px;
        height                     : 48px;
        flex-shrink                : 0;
        border-radius              : 16px;
        background                 : #EBEFF3;
        color                      : #2B2B2B;
        box-shadow                 : 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
        cursor                     : pointer;
        display                    : flex;
        justify-content            : center;
        align-items                : center;
        -webkit-tap-highlight-color: transparent;

        &:active,
        &.active {
            box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
        }
    }
}