.sell-subject-key-popup {
    max-width: 420px !important;

    >header {
        >h1 {
            justify-content: center;
        }
    }

    >main {
        >.owner-profile-image-wrapper {
            .embossed-box();
            margin         : auto;
            display        : flex;
            flex-shrink    : 0;
            width          : 140px;
            height         : 140px;
            border-radius  : 50%;
            align-items    : center;
            justify-content: center;

            >.owner-profile-image {
                width        : 120px;
                height       : 120px;
                display      : flex;
                flex-shrink  : 0;
                border-radius: 50%;
                border       : 1px solid #FFF;
                background   : lightgray 50% / cover no-repeat;
            }
        }

        >.price-info {
            >.price {
                .embossed-box();
                margin-top : 20px;
                display    : flex;
                align-items: center;
                padding    : 20px;

                @media @phone {
                    align-items   : normal;
                    flex-direction: column;
                }

                >label {
                    font-feature-settings: 'clig'off, 'liga'off;
                    font-family          : Quicksand;
                    font-size            : 16px;
                    font-style           : normal;
                    font-weight          : 700;
                    line-height          : normal;
                    text-transform       : capitalize;
                    flex-grow            : 1;
                }

                >.value {
                    .debossed-box();
                    font-feature-settings: 'clig'off, 'liga'off;
                    font-family          : Quicksand;
                    font-size            : 18px;
                    font-style           : normal;
                    font-weight          : 700;
                    line-height          : normal;
                    text-transform       : capitalize;
                    padding              : 10px 20px;
                    display              : flex;
                    align-items          : center;
                    gap                  : 8px;
                    justify-content      : right;

                    @media @phone {
                        margin-top: 10px;
                    }

                    >.avax-symbol {
                        padding-top: 1px;
                        height     : 18px;
                        display    : flex;
                    }
                }
            }
        }
    }
}