.chat-room-header {
    >footer {
        >button {
            cursor: pointer;
        }

        >button.close {
            display: none;

            @media @phone {
                display: flex;
            }
        }
    }
}