/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./public/style/lib/reset.css ***!
  \**********************************************************************************************************/
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio, summary):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/less-loader/dist/cjs.js!./public/style/main.less ***!
  \*********************************************************************************************************************************************/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v31/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v31/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
:root {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 14px;
}
p {
  line-height: 1.6;
}
:root {
  --bg-color: #EBEFF3;
  --text-color: #2A2A2A;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 24;
}
html,
body {
  height: 100%;
}
.splash-screen.component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-screen.component > img {
  width: 120px;
  height: 120px;
}
.home-view {
  padding: 31px 30px;
}
@media only screen and (max-width: 859px) {
  .home-view {
    padding: 20px;
  }
}
.home-view > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
@media only screen and (max-width: 859px) {
  .home-view > h1 {
    font-size: 16px;
  }
}
.inbox-view {
  padding: 31px 30px;
}
@media only screen and (max-width: 859px) {
  .inbox-view {
    padding: 20px;
  }
}
.inbox-view > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
@media only screen and (max-width: 859px) {
  .inbox-view > h1 {
    font-size: 16px;
  }
}
.explore-view {
  padding: 31px 30px;
}
@media only screen and (max-width: 859px) {
  .explore-view {
    padding: 20px;
  }
}
.explore-view > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
@media only screen and (max-width: 859px) {
  .explore-view > h1 {
    font-size: 16px;
  }
}
.notifications-view {
  padding: 31px 30px;
}
@media only screen and (max-width: 859px) {
  .notifications-view {
    padding: 20px;
  }
}
.notifications-view > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
@media only screen and (max-width: 859px) {
  .notifications-view > h1 {
    font-size: 16px;
  }
}
.layout {
  height: 100%;
  max-width: 1280px;
  margin: auto;
  overflow-x: hidden;
  display: flex;
}
@media only screen and (max-width: 859px) {
  .layout {
    display: block;
  }
}
.nav-bar {
  width: 90px;
  background: #EBEFF3;
  box-shadow: 4px 0px 8px 0px rgba(189, 194, 199, 0.75), 8px 0px 12px 0px rgba(189, 194, 199, 0.25);
  padding: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow-y: auto;
}
@media only screen and (max-width: 859px) {
  .nav-bar {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    width: 100%;
    height: calc(90px + env(safe-area-inset-bottom));
    padding: 0 21px;
    padding-bottom: env(safe-area-inset-bottom);
    overflow: hidden;
    justify-content: space-between;
    gap: 0;
  }
}
.nav-bar > h1 {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 859px) {
  .nav-bar > h1 {
    display: none;
  }
}
.nav-bar > h1 > img {
  width: 26px;
}
.nav-bar > h1:active {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.nav-bar > button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #EBEFF3;
  color: #2B2B2B;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}
.nav-bar > button:active,
.nav-bar > button.active {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.nav-bar > .signed-user {
  margin-top: auto;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  border: 1px solid #FFF;
  background: lightgray 50% / cover no-repeat;
  cursor: pointer;
}
@media only screen and (max-width: 859px) {
  .nav-bar > .signed-user {
    display: none;
  }
}
.mobile-title-bar {
  display: none;
}
@media only screen and (max-width: 859px) {
  .mobile-title-bar {
    display: flex;
    align-items: center;
    padding: 20px 16px;
    gap: 20px;
  }
}
.mobile-title-bar > h1 {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}
.mobile-title-bar > h1 > img {
  width: 26px;
}
.mobile-title-bar > h1:active {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.mobile-title-bar > p {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.mobile-title-bar > .signed-user {
  margin-left: auto;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  border: 1px solid #FFF;
  background: lightgray 50% / cover no-repeat;
  cursor: pointer;
}

