/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./public/style/lib/reset.css ***!
  \**********************************************************************************************************/
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio, summary):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/less-loader/dist/cjs.js!./public/style/main.less ***!
  \*********************************************************************************************************************************************/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v31/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v31/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
:root {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 14px;
}
p {
  line-height: 1.6;
}
:root {
  --bg-color: #EBEFF3;
  --text-color: #2A2A2A;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 24;
}
html,
body {
  height: 100%;
}
.splash-screen.component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-screen.component > img {
  width: 120px;
  height: 120px;
}
.tabs.component {
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  padding: 12px;
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 859px) {
  .tabs.component {
    gap: 4px;
  }
}
.tabs.component > .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  flex-basis: 100%;
  cursor: pointer;
  color: #a1a2ac;
  padding: 0 20px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.tabs.component > .tab:hover {
  color: #2A2A2A;
}
.tabs.component > .tab.active {
  border-radius: 16px;
  outline: 1px solid #F4F7F9;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
  color: #2A2A2A;
}
button.component {
  height: 48px;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: #2B2B2B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 16px;
}
button.component.disabled {
  cursor: not-allowed;
  color: #a1a2ac;
}
button.component.contained {
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
}
button.component.contained:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
button.component.text:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999998;
  width: 100%;
  height: 100%;
  background-color: rgba(235, 239, 243, 0.9);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.popup.component {
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  padding: 20px 30px;
  max-width: 532px;
  width: 90%;
  margin: auto;
}
@media only screen and (max-width: 859px) {
  .popup.component {
    padding: 20px;
  }
}
.popup.component > header > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 8px;
}
.popup.component > header > h1 > .material-icon {
  display: flex;
  color: #FC5132;
}
@media only screen and (max-width: 859px) {
  .popup.component > header > h1 {
    font-size: 16px;
  }
}
.popup.component > main {
  margin-top: 14px;
}
@media only screen and (max-width: 859px) {
  .popup.component > main {
    margin-top: 12px;
  }
}
.popup.component > main > p {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  line-height: 1.5;
}
@media only screen and (max-width: 859px) {
  .popup.component > main > p {
    font-size: 12px;
  }
}
.popup.component > footer {
  margin-top: 29px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
@media only screen and (max-width: 859px) {
  .popup.component > footer {
    margin-top: 20px;
  }
}
.popup.component > footer > button.contained {
  color: #fff;
  background: #5585FF;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25), 4px 4px 8px 0px rgba(255, 255, 255, 0.75) inset, 8px 8px 12px 0px rgba(255, 255, 255, 0.25) inset, -4px -4px 8px 0px rgba(31, 94, 255, 0.75) inset, -8px -8px 12px 0px rgba(31, 94, 255, 0.25) inset;
}
.popup.component > footer > button.contained:active {
  outline: 1px solid #5585FF;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(31, 94, 255, 0.75) inset;
}
.popup.component > footer > button.contained.disabled {
  opacity: 0.5;
}
.snackbar.component {
  position: fixed;
  left: 0;
  bottom: 20px;
  z-index: 999998;
  width: 100%;
}
@media only screen and (max-width: 859px) {
  .snackbar.component {
    bottom: calc(110px + env(safe-area-inset-bottom));
  }
}
.snackbar.component > main {
  max-width: 532px;
  width: 90%;
  margin: auto;
  background-color: #5585FF;
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 4px 20px;
  gap: 4px;
}
.snackbar.component > main > p {
  flex-grow: 1;
}
.snackbar.component > main > button.action {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: #ffffff;
  font-weight: bold;
}
.snackbar.component > main > button.action:hover {
  opacity: 0.8;
}
.snackbar.component > main > button.close {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  font-weight: bold;
}
.snackbar.component > main > button.close:hover {
  opacity: 0.8;
}
.dropdown-menu.component {
  position: fixed;
  z-index: 999998;
  width: 160px;
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
}
.dropdown-menu.component > li > button {
  cursor: pointer;
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding: 20px;
  width: 100%;
}
.layout {
  position: relative;
  height: 100%;
  max-width: 1280px;
  margin: auto;
  overflow-x: hidden;
  display: flex;
}
@media only screen and (max-width: 859px) {
  .layout {
    height: auto;
    display: block;
    padding-bottom: calc(90px + env(safe-area-inset-bottom));
  }
}
.layout > .nav-bar {
  flex-shrink: 0;
}
.layout > main {
  flex-grow: 1;
}
.layout > .trend-section {
  width: 360px;
  flex-shrink: 0;
}
@media only screen and (max-width: 859px) {
  .layout > .trend-section {
    display: none;
  }
}
.layout > .trend-section.hidden {
  display: none;
}
.nav-bar {
  width: 90px;
  background: #EBEFF3;
  box-shadow: 4px 0px 8px 0px rgba(189, 194, 199, 0.75), 8px 0px 12px 0px rgba(189, 194, 199, 0.25);
  padding: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow-y: auto;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media only screen and (max-width: 859px) {
  .nav-bar {
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 999990;
    flex-direction: row;
    width: 100%;
    height: calc(90px + env(safe-area-inset-bottom));
    padding: 0 21px;
    padding-bottom: env(safe-area-inset-bottom);
    overflow: hidden;
    justify-content: space-between;
    gap: 0;
  }
}
.nav-bar > h1,
.nav-bar > .login-button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 859px) {
  .nav-bar > h1,
  .nav-bar > .login-button {
    display: none;
  }
}
.nav-bar > h1 > img,
.nav-bar > .login-button > img {
  width: 26px;
}
.nav-bar > h1:active,
.nav-bar > .login-button:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.nav-bar > button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #EBEFF3;
  color: #2B2B2B;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar > button:active,
.nav-bar > button.active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.nav-bar > .login-button {
  margin-top: auto;
  margin-bottom: 0;
  display: none;
}
.nav-bar > .login-button.show {
  display: flex;
}
@media only screen and (max-width: 859px) {
  .nav-bar > .login-button.show {
    display: none;
  }
}
@media only screen and (max-width: 859px) {
  .nav-bar > button.settings {
    display: none;
  }
}
.nav-bar > .signed-user {
  margin-top: auto;
  display: none;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  border: 1px solid #FFF;
  background: lightgray 50% / cover no-repeat;
  cursor: pointer;
}
.nav-bar > .signed-user.show {
  display: flex;
}
@media only screen and (max-width: 859px) {
  .nav-bar > .signed-user.show {
    display: none;
  }
}
.mobile-title-bar {
  display: none;
}
@media only screen and (max-width: 859px) {
  .mobile-title-bar {
    display: flex;
    align-items: center;
    padding: 20px 16px 10px;
    gap: 20px;
  }
}
.mobile-title-bar > h1,
.mobile-title-bar > button.back,
.mobile-title-bar > button.login,
.mobile-title-bar > button.settings {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-title-bar > h1 > img,
.mobile-title-bar > button.back > img,
.mobile-title-bar > button.login > img,
.mobile-title-bar > button.settings > img {
  width: 26px;
}
.mobile-title-bar > h1:active,
.mobile-title-bar > button.back:active,
.mobile-title-bar > button.login:active,
.mobile-title-bar > button.settings:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.mobile-title-bar > h1.hidden,
.mobile-title-bar > button.back.hidden,
.mobile-title-bar > button.login.hidden,
.mobile-title-bar > button.settings.hidden {
  display: none;
}
.mobile-title-bar > p {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mobile-title-bar > button.login,
.mobile-title-bar > button.settings {
  margin-left: auto;
}
.mobile-title-bar > .signed-user {
  display: flex;
  margin-left: auto;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  border: 1px solid #FFF;
  background: lightgray 50% / cover no-repeat;
  cursor: pointer;
}
.mobile-title-bar > .signed-user.hidden {
  display: none;
}
.trend-section {
  padding-top: 21px;
  padding-right: 21px;
}
.trend-section > .search-bar {
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #F4F7F9;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  gap: 20px;
}
.trend-section > .search-bar > .material-icon {
  color: #a1a2ac;
}
.trend-section > .search-bar > input {
  flex-grow: 1;
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 100%;
}
.trend-section > .search-bar > input::placeholder {
  color: #a1a2ac;
}
.trend-section > .search-bar:focus-within > .material-icon {
  color: #2A2A2A;
}
.trend-section > .trend-list {
  margin-top: 30px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  padding: 30px;
}
.home-view {
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 859px) {
  .home-view {
    height: auto;
  }
}
.home-view > main {
  height: 100%;
  padding: 31px 30px;
  overflow-y: auto;
}
@media only screen and (max-width: 859px) {
  .home-view > main {
    height: auto;
    overflow-y: visible;
    padding: 20px;
  }
}
.home-view > main > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media only screen and (max-width: 859px) {
  .home-view > main > h1 {
    display: none;
  }
}
.home-view > main > .tabs {
  margin-bottom: 20px;
}
.home-view > button.post {
  position: absolute;
  bottom: 30px;
  right: 31px;
  z-index: 999997;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #5585FF;
  color: #ffffff;
}
@media only screen and (max-width: 859px) {
  .home-view > button.post {
    position: fixed;
    bottom: calc(110px + env(safe-area-inset-bottom));
    right: 20px;
  }
}
.home-view > button.post:hover {
  background-color: #457aff;
}
.home-view > button.post:active {
  background-color: #3770ff;
}
.home-view > button.post.hidden {
  display: none;
}
.post-view {
  padding: 21px 30px 31px 30px;
}
@media only screen and (max-width: 859px) {
  .post-view {
    padding: 20px;
  }
}
.post-view > header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 859px) {
  .post-view > header {
    display: none;
  }
}
.post-view > header > button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #EBEFF3;
  color: #2B2B2B;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-view > header > button:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.post-view > header > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.post-popup {
  max-width: 600px !important;
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 859px) {
  .post-popup {
    gap: 12px;
  }
}
.post-popup > .signed-user {
  margin-top: 1px;
  display: flex;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  border: 1px solid #FFF;
  background: lightgray 50% / cover no-repeat;
}
.post-popup > .form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.post-popup > .form > header {
  display: flex;
  justify-content: space-between;
}
.post-popup > .form > header > select {
  border-radius: 16px;
  border: 1px solid #F4F7F9;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
  padding: 12px 20px;
  padding-right: 52px;
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 6px), calc(100% - 15px) calc(1em + 6px), calc(100% - 2.5em) calc(0.5em + 4px);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.post-popup > .form > header > select:focus {
  background-image: linear-gradient(45deg, gray 50%, transparent 50%), linear-gradient(135deg, transparent 50%, gray 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) calc(1em + 4px), calc(100% - 20px) calc(1em + 4px), calc(100% - 2.5em) calc(0.5em + 4px);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.post-popup > .form > header > button {
  width: 43.5px;
  height: 43.5px;
  flex-shrink: 0;
  border-radius: 16px;
  color: #2B2B2B;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-popup > .form > header > button:active {
  outline: 1px solid #F4F7F9;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.post-popup > .form > main > textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 16px;
  border: 1px solid #F4F7F9;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
  padding: 12px 20px;
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.post-popup > .form > main > textarea::placeholder {
  color: #a1a2ac;
}
.post-popup > .form > footer {
  display: flex;
}
.post-popup > .form > footer > .icon-button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #EBEFF3;
  color: #2B2B2B;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-popup > .form > footer > .icon-button:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.post-popup > .form > footer > .post-button {
  margin-left: auto;
}
.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.post-list.hidden {
  display: none;
}
.post-list-item {
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  padding: 20px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 859px) {
  .post-list-item {
    gap: 12px;
  }
}
.post-list-item > .author-profile-image {
  margin-top: 1px;
  display: flex;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  border: 1px solid #FFF;
  background: lightgray 50% / cover no-repeat;
}
.post-list-item > main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (max-width: 859px) {
  .post-list-item > main {
    gap: 8px;
  }
}
.post-list-item > main > header {
  display: flex;
}
.post-list-item > main > header > .author {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.post-list-item > main > header > .author > .name {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.post-list-item > main > header > .author > .x-username {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: #a1a2ac;
}
.post-list-item > main > header > button.owner-menu {
  margin-top: -4px;
  margin-right: -4px;
  margin-left: auto;
  width: 43.5px;
  height: 43.5px;
  flex-shrink: 0;
  border-radius: 16px;
  color: #2B2B2B;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}
.post-list-item > main > header > button.owner-menu:active {
  outline: 1px solid #F4F7F9;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.post-list-item > main > p {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
@media only screen and (max-width: 859px) {
  .post-list-item > main > p {
    font-size: 12px;
  }
}
.post-list-item.owned > main > header > button.owner-menu {
  display: flex;
}
.inbox-view {
  padding: 31px 30px;
}
@media only screen and (max-width: 859px) {
  .inbox-view {
    padding: 20px;
  }
}
.inbox-view > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media only screen and (max-width: 859px) {
  .inbox-view > h1 {
    display: none;
  }
}
.explore-view {
  padding: 31px 30px;
}
@media only screen and (max-width: 859px) {
  .explore-view {
    padding: 20px;
  }
}
.explore-view > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media only screen and (max-width: 859px) {
  .explore-view > h1 {
    display: none;
  }
}
.notifications-view {
  padding: 31px 30px;
}
@media only screen and (max-width: 859px) {
  .notifications-view {
    padding: 20px;
  }
}
.notifications-view > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media only screen and (max-width: 859px) {
  .notifications-view > h1 {
    display: none;
  }
}
.settings-view {
  padding: 31px 30px;
}
@media only screen and (max-width: 859px) {
  .settings-view {
    padding: 20px;
  }
}
.settings-view > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media only screen and (max-width: 859px) {
  .settings-view > h1 {
    display: none;
  }
}
.settings-view > main {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
@media only screen and (max-width: 859px) {
  .settings-view > main {
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
  }
}
.settings-view > main > section.x {
  flex: 0 50%;
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  padding: 20px;
}
.settings-view > main > section.actions {
  width: 50%;
  flex: 0 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 859px) {
  .settings-view > main > section.actions {
    width: 100%;
  }
}
.settings-view > main > section.actions > section {
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  padding: 20px 30px;
}
.settings-view > main > section.actions > section > h2 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.settings-view > main > section.actions > section > p {
  margin-top: 4px;
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.settings-view > main > section.actions > section > p.linked {
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.settings-view > main > section.actions > section > button {
  margin-top: 12px;
  border-radius: 16px;
  background: #5585FF;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25), 4px 4px 8px 0px rgba(255, 255, 255, 0.75) inset, 8px 8px 12px 0px rgba(255, 255, 255, 0.25) inset, -4px -4px 8px 0px rgba(31, 94, 255, 0.75) inset, -8px -8px 12px 0px rgba(31, 94, 255, 0.25) inset;
  display: flex;
  justify-content: center;
  padding: 5px 20px;
  cursor: pointer;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: capitalize;
}
.settings-view > main > section.actions > section > button:active {
  outline: 1px solid #5585FF;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(31, 94, 255, 0.75) inset;
}
.user-view {
  padding: 21px 30px 31px 30px;
}
@media only screen and (max-width: 859px) {
  .user-view {
    padding: 20px;
  }
}
.user-view > header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 859px) {
  .user-view > header {
    display: none;
  }
}
.user-view > header > button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #EBEFF3;
  color: #2B2B2B;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-view > header > button:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.user-view > header > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.user-view > section.profile {
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 859px) {
  .user-view > section.profile {
    flex-direction: column;
    gap: 20px;
  }
  .user-view > section.profile > .user-connections {
    display: none;
  }
}
.user-view > section.profile > * {
  flex: 0 50%;
  width: 50%;
}
@media only screen and (max-width: 859px) {
  .user-view > section.profile > * {
    flex: auto;
    width: auto;
  }
}
.user-view > section.profile > .user-connections {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 859px) {
  .user-view > section.profile > .user-connections {
    display: none;
  }
}
.user-view > section.profile > .user-connections > .tabs {
  gap: 0;
}
.user-view > section.profile > .user-connections > .tabs > .tab {
  font-size: 14px;
  padding: 0;
}
.user-view > section.profile > .user-connections > .user-list {
  flex-grow: 1;
  max-height: 471.5px;
  overflow-y: auto;
  padding: 15px;
  margin: -15px;
}
.user-view > .post-list {
  margin-top: 20px;
}
.user-profile-display {
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  padding: 20px;
}
@media only screen and (max-width: 859px) {
  .user-profile-display {
    padding: 20px 12px;
  }
}
.user-profile-display > .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.user-profile-display > .profile > .profile-image-wrapper {
  display: flex;
  flex-shrink: 0;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  align-items: center;
  justify-content: center;
}
.user-profile-display > .profile > .profile-image-wrapper > .profile-image {
  width: 120px;
  height: 120px;
  display: flex;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #FFF;
  background: lightgray 50% / cover no-repeat;
}
.user-profile-display > .profile > h2 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.user-profile-display > .profile > h3 > a {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
  padding: 4px 8px;
}
.user-profile-display > .profile > h3 > a:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.user-profile-display > .profile > .socials {
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.user-profile-display > .profile > .socials > a {
  display: flex;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  align-items: center;
  justify-content: center;
}
.user-profile-display > .profile > .socials > a > img {
  height: 14px;
}
.user-profile-display > .profile > .socials > a:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.user-profile-display > .trading-metrics {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.user-profile-display > .trading-metrics > section {
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  display: flex;
  padding: 8px;
  gap: 12px;
  align-items: center;
}
.user-profile-display > .trading-metrics > section > .icon-container {
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  padding: 8px;
  display: flex;
}
.user-profile-display > .trading-metrics > section > .metric {
  display: flex;
  flex-direction: column;
}
.user-profile-display > .trading-metrics > section > .metric > h3 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.user-profile-display > .trading-metrics > section > .metric > .value {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 4px;
}
.user-profile-display > .trading-metrics > section > .metric > .value > .avax-symbol {
  padding-top: 2px;
  height: 16px;
  display: flex;
}
.user-profile-display > .action-buttons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.user-profile-display > .action-buttons > button {
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  cursor: pointer;
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.user-profile-display > .action-buttons > button:active {
  outline: 1px solid #F4F7F9;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.user-profile-display > .action-buttons > button.buy-key {
  color: #fff;
  background: #5585FF;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25), 4px 4px 8px 0px rgba(255, 255, 255, 0.75) inset, 8px 8px 12px 0px rgba(255, 255, 255, 0.25) inset, -4px -4px 8px 0px rgba(31, 94, 255, 0.75) inset, -8px -8px 12px 0px rgba(31, 94, 255, 0.25) inset;
}
.user-profile-display > .action-buttons > button.buy-key:active {
  outline: 1px solid #5585FF;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(31, 94, 255, 0.75) inset;
}
.user-profile-display > .action-buttons > button.buy-key.disabled {
  opacity: 0.5;
}
.user-profile-display > .action-buttons > button.hidden {
  display: none;
}
.user-profile-display > .social-metrics {
  display: none;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  background-color: #ccc;
}
@media only screen and (max-width: 859px) {
  .user-profile-display > .social-metrics {
    display: grid;
  }
}
.user-profile-display > .social-metrics > section {
  background: #EBEFF3;
  display: flex;
  justify-content: center;
}
.user-profile-display > .social-metrics > section > a {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  padding: 3.5px 7px;
  border-radius: 7px;
}
.user-profile-display > .social-metrics > section > a > .value {
  font-weight: bold;
}
.user-profile-display > .social-metrics > section > a:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.user-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user-list > .empty-message {
  text-align: center;
  color: #a1a2ac;
  padding: 20px 0;
}
.user-list.hidden {
  display: none;
}
.user-list-item {
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.user-list-item > .profile-image {
  display: flex;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  border: 1px solid #FFF;
  background: lightgray 50% / cover no-repeat;
}
.user-list-item > .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.user-list-item > .info > .name {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.user-list-item > .info > .x-username {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: #a1a2ac;
}
.link-wallet-popup > main > ol {
  margin-top: 18px;
  border-radius: 16px;
  border: 1px solid #F4F7F9;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
  padding: 18px;
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.link-wallet-popup > main > ol > li {
  margin-left: 18px;
}
.link-wallet-popup > main > ol > li > w3m-core-button {
  display: block;
  margin-top: 18px;
}
.holders-view {
  padding: 21px 30px 31px 30px;
}
@media only screen and (max-width: 859px) {
  .holders-view {
    padding: 20px;
  }
}
.holders-view > header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 859px) {
  .holders-view > header {
    display: none;
  }
}
.holders-view > header > button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #EBEFF3;
  color: #2B2B2B;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.holders-view > header > button:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.holders-view > header > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.following-view {
  padding: 21px 30px 31px 30px;
}
@media only screen and (max-width: 859px) {
  .following-view {
    padding: 20px;
  }
}
.following-view > header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 859px) {
  .following-view > header {
    display: none;
  }
}
.following-view > header > button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #EBEFF3;
  color: #2B2B2B;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.following-view > header > button:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.following-view > header > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.followers-view {
  padding: 21px 30px 31px 30px;
}
@media only screen and (max-width: 859px) {
  .followers-view {
    padding: 20px;
  }
}
.followers-view > header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 859px) {
  .followers-view > header {
    display: none;
  }
}
.followers-view > header > button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #EBEFF3;
  color: #2B2B2B;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.followers-view > header > button:active {
  outline: 1px solid #F4F7F9;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
}
.followers-view > header > h1 {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.switch-to-avax-popup > main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.switch-to-avax-popup > main > p > a {
  padding: 6px 20px;
  border-radius: 16px;
  background: radial-gradient(50% 50% at 50% 50%, #FC5132 0%, #FC5132 100%);
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25), 4px 4px 8px 0px rgba(255, 255, 255, 0.75) inset, 8px 8px 12px 0px rgba(255, 255, 255, 0.25) inset, -4px -4px 8px 0px rgba(252, 81, 50, 0.75) inset, -8px -8px 12px 0px rgba(252, 81, 50, 0.25) inset;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: capitalize;
}
.switch-to-avax-popup > main > .banner {
  border-radius: 16px;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
}
.buy-subject-key-popup {
  max-width: 420px !important;
}
.buy-subject-key-popup > header > h1 {
  justify-content: center;
}
.buy-subject-key-popup > main > .owner-profile-image-wrapper {
  margin: auto;
  display: flex;
  flex-shrink: 0;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  align-items: center;
  justify-content: center;
}
.buy-subject-key-popup > main > .owner-profile-image-wrapper > .owner-profile-image {
  width: 120px;
  height: 120px;
  display: flex;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #FFF;
  background: lightgray 50% / cover no-repeat;
}
.buy-subject-key-popup > main > .price-info > .price {
  margin-top: 20px;
  border-radius: 16px;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  padding: 20px;
}
@media only screen and (max-width: 859px) {
  .buy-subject-key-popup > main > .price-info > .price {
    align-items: normal;
    flex-direction: column;
  }
}
.buy-subject-key-popup > main > .price-info > .price > label {
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  flex-grow: 1;
}
.buy-subject-key-popup > main > .price-info > .price > .value {
  border-radius: 16px;
  border: 1px solid #F4F7F9;
  background: #EBEFF3;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
  color: #2A2A2A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: right;
}
@media only screen and (max-width: 859px) {
  .buy-subject-key-popup > main > .price-info > .price > .value {
    margin-top: 10px;
  }
}
.buy-subject-key-popup > main > .price-info > .price > .value > .avax-symbol {
  padding-top: 1px;
  height: 18px;
  display: flex;
}

