.dropdown-menu.component {
    position     : fixed;
    z-index      : 999998;
    width        : 160px;
    border-radius: 16px;
    background   : #EBEFF3;
    box-shadow   : 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);

    >li>button {
        cursor               : pointer;
        color                : #2A2A2A;
        font-feature-settings: 'clig'off, 'liga'off;
        font-family          : Quicksand;
        font-size            : 14px;
        font-style           : normal;
        font-weight          : 700;
        line-height          : normal;
        text-transform       : capitalize;
        padding              : 20px;
        width                : 100%;
    }
}