.link-wallet-popup {
    >main {
        >ol {
            .debossed-box();
            margin-top           : 18px;
            border-radius        : 16px;
            padding              : 18px;
            font-feature-settings: 'clig'off, 'liga'off;
            font-family          : Quicksand;
            font-size            : 14px;
            font-style           : normal;
            font-weight          : 500;
            line-height          : normal;
            text-transform       : capitalize;
            list-style-type      : decimal;
            display              : flex;
            flex-direction       : column;
            gap                  : 18px;

            >li {
                margin-left: 18px;

                >w3m-core-button {
                    display   : block;
                    margin-top: 18px;
                }
            }
        }
    }
}