.user-profile-display {
    border-radius: 16px;
    background   : #EBEFF3;
    box-shadow   : 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
    padding      : 20px;

    @media @phone {
        padding: 20px 12px;
    }

    >.profile {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        gap           : 14px;

        >.profile-image-wrapper {
            display        : flex;
            flex-shrink    : 0;
            width          : 140px;
            height         : 140px;
            border-radius  : 50%;
            box-shadow     : 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
            align-items    : center;
            justify-content: center;

            >.profile-image {
                width        : 120px;
                height       : 120px;
                display      : flex;
                flex-shrink  : 0;
                border-radius: 50%;
                border       : 1px solid #FFF;
                background   : lightgray 50% / cover no-repeat;
            }
        }

        >h2 {
            color                : #2A2A2A;
            font-feature-settings: 'clig'off, 'liga'off;
            font-family          : Quicksand;
            font-size            : 18px;
            font-style           : normal;
            font-weight          : 700;
            line-height          : normal;
        }

        >h3>a {
            color                : #2A2A2A;
            font-feature-settings: 'clig'off, 'liga'off;
            font-family          : Quicksand;
            font-size            : 14px;
            font-style           : normal;
            font-weight          : 500;
            line-height          : normal;
            border-radius        : 4px;
            padding              : 4px 8px;

            &:active {
                outline   : 1px solid #F4F7F9;
                box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
            }
        }

        >.socials {
            margin-top : 4px;
            display    : flex;
            align-items: center;
            gap        : 8px;

            >a {
                display        : flex;
                flex-shrink    : 0;
                width          : 40px;
                height         : 40px;
                border-radius  : 50%;
                box-shadow     : 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
                align-items    : center;
                justify-content: center;

                >img {
                    height: 14px;
                }

                &:active {
                    outline   : 1px solid #F4F7F9;
                    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
                }
            }
        }
    }

    >.trading-metrics {
        margin-top           : 20px;
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : 12px;

        >section {
            border-radius: 16px;
            background   : #EBEFF3;
            box-shadow   : 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
            display      : flex;
            padding      : 8px;
            gap          : 12px;
            align-items  : center;

            >.icon-container {
                border-radius: 16px;
                background   : #EBEFF3;
                box-shadow   : 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
                padding      : 8px;
                display      : flex;
            }

            >.metric {
                display       : flex;
                flex-direction: column;

                >h3 {
                    color                : #2A2A2A;
                    font-feature-settings: 'clig'off, 'liga'off;
                    font-family          : Quicksand;
                    font-size            : 12px;
                    font-style           : normal;
                    font-weight          : 500;
                    line-height          : normal;
                    text-transform       : capitalize;
                }

                >.value {
                    color                : #2A2A2A;
                    font-feature-settings: 'clig'off, 'liga'off;
                    font-family          : Quicksand;
                    font-size            : 16px;
                    font-style           : normal;
                    font-weight          : 700;
                    line-height          : normal;
                    text-transform       : capitalize;
                    display              : flex;
                    align-items          : center;
                    gap                  : 4px;

                    >.avax-symbol {
                        padding-top: 1px;
                        height     : 15px;
                        display    : flex;
                    }
                }
            }
        }
    }

    >.action-buttons {
        margin-top           : 20px;
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : 12px;

        >button {
            border-radius        : 16px;
            background           : #EBEFF3;
            box-shadow           : 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25);
            display              : flex;
            justify-content      : center;
            padding              : 20px 0;
            cursor               : pointer;
            color                : #2A2A2A;
            font-feature-settings: 'clig'off, 'liga'off;
            font-family          : Quicksand;
            font-size            : 18px;
            font-style           : normal;
            font-weight          : 700;
            line-height          : normal;
            text-transform       : capitalize;

            &:active {
                outline   : 1px solid #F4F7F9;
                background: #EBEFF3;
                box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(189, 194, 199, 0.75) inset;
            }

            &.buy-key {
                color     : #fff;
                background: #5585FF;
                box-shadow: 4px 4px 8px 0px rgba(189, 194, 199, 0.75), 8px 8px 12px 0px rgba(189, 194, 199, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.75), -8px -8px 12px 0px rgba(255, 255, 255, 0.25), 4px 4px 8px 0px rgba(255, 255, 255, 0.75) inset, 8px 8px 12px 0px rgba(255, 255, 255, 0.25) inset, -4px -4px 8px 0px rgba(31, 94, 255, 0.75) inset, -8px -8px 12px 0px rgba(31, 94, 255, 0.25) inset;

                &:active {
                    outline   : 1px solid #5585FF;
                    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.75), 2px 2px 8px 0px rgba(31, 94, 255, 0.75) inset;
                }
            }
        }
    }

    >.social-metrics {
        display              : none;
        margin-top           : 20px;
        grid-template-columns: repeat(3, 1fr);
        gap                  : 1px;
        background-color     : #ccc;

        @media @phone {
            display: grid;
        }

        >section {
            background           : #EBEFF3;
            text-align           : center;
            color                : #2A2A2A;
            font-feature-settings: 'clig'off, 'liga'off;
            font-family          : Quicksand;
            font-size            : 14px;
            font-style           : normal;
            font-weight          : 500;
            line-height          : normal;
            cursor               : pointer;

            >.value {
                display: flex;
            }
        }
    }
}