.user-list-item {
    .embossed-box();
    padding: 20px;
    cursor : pointer;
    display: flex;
    gap    : 20px;

    @container (width < 520px) {
        flex-direction: column;
    }

    >.info-container {
        flex-grow  : 1;
        display    : flex;
        gap        : 12px;
        align-items: center;

        >.profile-image {
            display      : flex;
            width        : 42px;
            height       : 42px;
            flex-shrink  : 0;
            border-radius: 42px;
            border       : 1px solid #FFF;
            background   : lightgray 50% / cover no-repeat;
        }

        >.info {
            flex-grow     : 1;
            display       : flex;
            flex-direction: column;
            gap           : 4px;

            >.name {
                font-feature-settings: 'clig'off, 'liga'off;
                font-family          : Quicksand;
                font-size            : 16px;
                font-style           : normal;
                font-weight          : 700;
                line-height          : normal;
            }

            >.x-username {
                font-feature-settings: 'clig'off, 'liga'off;
                font-family          : Quicksand;
                font-size            : 12px;
                font-style           : normal;
                font-weight          : 500;
                color                : #a1a2ac;
            }
        }
    }

    >.metric-container {
        display    : flex;
        gap        : 12px;
        align-items: center;

        >section {
            .embossed-box();
            display    : flex;
            padding    : 8px;
            gap        : 12px;
            align-items: center;
            min-width  : 150px;

            @container (width < 520px) {
                width    : 50%;
                min-width: auto;
            }

            &.price {
                grid-column: auto / span 2;
            }

            >.icon-container {
                .embossed-box();
                padding: 8px;
                display: flex;
            }

            >.metric {
                display       : flex;
                flex-direction: column;

                >h3 {
                    font-feature-settings: 'clig'off, 'liga'off;
                    font-family          : Quicksand;
                    font-size            : 12px;
                    font-style           : normal;
                    font-weight          : 500;
                    line-height          : normal;
                    text-transform       : capitalize;
                }

                >.value {
                    font-feature-settings: 'clig'off, 'liga'off;
                    font-family          : Quicksand;
                    font-size            : 16px;
                    font-style           : normal;
                    font-weight          : 700;
                    line-height          : normal;
                    text-transform       : capitalize;
                    display              : flex;
                    align-items          : center;
                    gap                  : 4px;

                    >.avax-symbol {
                        padding-top: 2px;
                        height     : 16px;
                        display    : flex;
                    }
                }
            }
        }
    }
}